<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li><%= link_to "All Stories", stories_path %></li>
      <li><%= link_to "Add New Happy Client Story", new_story_path %></li>
      <li><%= link_to "Random Story", "/random" %></li>
    </ul>
  </div>
</div>