<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">

      <%= nav raw("<span class='glyphicon glyphicon' style='top:-1px'></span> All Stories"), stories_path %>
      <%= nav "Archive", archive_path %>
      <%= nav raw("<span class='glyphicon glyphicon-plus' style='top:-1px'></span> Add New Story"), new_story_path %>
      <%#= nav "Random Story", "/random" %>
    </ul>
  </div>
</div>

