<!DOCTYPE html>
<html>
<head>
  <title>HappyClients</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/assets/stylesheets/narrow.css">

</head>
<body>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
